header{
    position: absolute;
}

#tooltip{
    position: absolute;
    border: 1px solid;
    padding: 0.5em;
}

html, body, #map-div{
    height: 100%;
    margin: 0%;
}

#map{
    width: 100%;
    height: 99%;
}

#info-box{
    position: absolute;
    top: 100px;
    padding: 1em;
    margin: 1em;
    border: 2px solid;
}